@use "../scss/abstracts/mixins";

body {
    background-color: #1a1a1e;
    font-family: 'Geologica', sans-serif;
}

.link {
    text-decoration: none;
    color: white;
    padding: 5rem;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}